@import '../my-app/src/common/_styles';

.window-up{
    // filter: brightness(0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0000006e;
}

.card-modal{
    width: 500px;
    // height: 500px;
    background-color: aliceblue;
    border-radius: $border-radius;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-modal-header{
    padding: 10px 40px 10px 20px;
}

.card-modal-cancel-button {
    position: fixed;
    right: 7px;
    top: 17px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 5px;
}

.card-modal-cancel-button:hover{
    background-color: rgba(0, 0, 0, 0.105);
    border-radius: 100%;
    // width: 20px;
    // height: 20px;
    margin: 0;
    // padding: 5px;
}

.card-modal-title-list.cancel-button-icon {
    cursor: pointer;
    width: 17px;
    vertical-align: bottom;
}

.card-modal-title-card{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-family: $primary-font-family;
    // font-size: $title-font-size;
    font-size: 24px;
    font-weight: bold;
    color: $primary-font-color;
    // margin: 10px 10px 0;
    padding: 8px;
    width: 87%;
}

.card-modal-title-list{
    margin-left: 10px;
    font-family: $primary-font-family;
    font-size: $text-font-size;
}

.card-modal-main{
    // margin-left: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    // width: 60%;
}

.card-modal-information{
    width: 75%;
}

h3{
    font-family: $primary-font-family;
    font-size: $title-font-size;
    margin: 0;
    padding-left: 8px;
}

.card-modal-participants-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 8px;
    margin: 10px 0;
}

.avatar-participant{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 100%;
    background-color: blueviolet;
}

.button-add-participant{
    // background-color: #493c45;
    background-color: rgb(36, 36, 74);
    border: 1px solid black;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 10px;
    margin-top: 5px;
}

.add-button-icon{
    margin: 0;
    vertical-align: middle;
    color: black;
}

.button-copy,
.button-move,
.button-archive,
.button-join,
.button-save,
.button-cancel,
.button-edit,
.form-create-card{
    width: 100px;
    height: 30px;
    border-radius: $border-radius;
    font-family: $primary-font-family;
    font-size: $text-font-size;
    background-color: $primary-color-button;
    border: none;
    color: $font-color-button;
    margin-top: 5px;
    cursor: pointer;
}

.button-copy{
    // position: absolute;
}

.button-archive{
    background-color: rgb(194, 30, 30);
}

.button-save{
    margin-left: 8px;
    margin-right: 5px;
}

.card-modal-description-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.description-fake-textarea{
    display: block;
    height: 50px;
    background-color: rgb(194, 195, 198);
    text-decoration: none;
    color: rgb(31, 31, 31);
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: $border-radius;
    cursor:pointer;
}

.description-textarea{
    display: block;
    border: none;
    padding: 10px;
    margin: 8px;
    width: 325px;
    height: 100px;
    resize: none;
}

.card-description{
    padding: 10px;
    cursor: pointer;
    font-family: $primary-font-family;
    font-size: $text-font-size;
}

.card-modal-sidebar{
    margin-left: 8px;
}

.card-modal-sidebar-buttons{
    display: flex;
    flex-direction: column;
}

.copy-modal{
    width: 260px;
    background-color: rgb(220, 228, 237);
    border-radius: $border-radius;
    position: fixed;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
}

.copy-modal-header{
    margin: 10px;
}

// .copy-modal-header{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
// }

.copy-modal-title{
    font-size: 18px;
    padding: 0;
    text-align: center;
}

.copy-modal-cancel-button {
    position: fixed;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 4px;
    margin: 10px 6px;
}

.copy-modal-cancel-button .cancel-button-icon {
    width: 15px;
}

.form-select{
    width: 240px;
    margin: 10px;
}

.form-select label{
    display: none;
    // font-family: $primary-font-family;
    // font-size: 16px;
    // font-weight: bold;
    // margin: 0;
}

.copy-modal-card-title-textarea{
    display: block;
    border: 1px solid rgb(161, 161, 161);
    font-family: $primary-font-family;
    font-size: $text-font-size;
    padding: 5px;
    margin: 8px 0;
    width: 95%;
    border-radius: $border-radius;
}

.button-link{
    display: block;
    background-color: rgba(198, 200, 201, 0.792);
    padding: 5px;
    border-radius: $border-radius;
    cursor: pointer;
    position: relative;
    // height: 50px;
}

.button-link:hover{
    background-color: rgba(174, 180, 183, 0.792);
}

.label{
    display: block;
    font-family: $primary-font-family;
    font-size: 16px;
    // font-weight: bold;
    margin: 0;
}

.value{
    display: block;
    font-family: $primary-font-family;
    font-size: 16px;
    font-weight: bold;
}

.button-link select{
    border: none;
    cursor: pointer;
    height: 50px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    z-index: 2;
}

.form-select-board{
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

// .form-select-board label{
//     display: none;
// }

// form select{
//     border: 1px solid rgb(161, 161, 161);
//     padding: 3px 5px;
//     margin-top: 5px;
//     font-family: $primary-font-family;
//     font-size: 16px;
// }

.form-select-list-and-position{
    display: flex;
    justify-content: space-between;
}

.form-select-list{
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    width: 65%;
}

.form-select-position{
    display: flex;
    flex-direction: column;
    margin: 8px 0;
    width: 25%;
}

.form-create-card{
    width: 130px;
}