@import '../my-app/src/common/_styles';

// body.window-up:not(.card-modal){
//     filter: brightness(0.5);
// }

.board-main-content{
    background-color: $primary-color-background;
    height: 100vh;
}

.board-header-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 25px 10px;
}

.board-back-home{
    margin: 0 15px;
}

.board-back-home-button {
    cursor: pointer;
    height: 30px;
    border-radius: $border-radius;
    font-family: $primary-font-family;
    font-size: $text-font-size;
    background-color: $primary-color-button;
    color: $font-color-button;
}

.board-back-home-button:hover{
    background-color: rgb(40, 40, 143);
}

.board-name-display{
    cursor: pointer;
    font-family: $primary-font-family;
    font-size: 42px;
    color: $primary-font-color;
    text-align: center;
    margin: 0;
    padding: 0 10px;
}

.board-name-display:hover{
    background-color: rgba(94, 94, 94, 0.144);
    border-radius: $border-radius;
    padding: 0 10px;
}

.board-name-input{
    font-family: $primary-font-family;
    font-size: 42px;
    color: $primary-font-color;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.board-menu{
    margin: 0 15px;
}

.board-menu,
.board-menu-button,
.board-menu-button-icon{
    width: 40px;
    height: 40px;
}

.board-menu-button{
    border: none;
    padding: 0;
    cursor: pointer;
}

.lists{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 50px;
    position: fixed;
    top: 120px;
}

.list-wrapper{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $color-border;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 100%;
    border-radius: $border-radius;
    background: $primary-color-list;
}

.board-menu-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.545);
    border: 1px solid rgba(112, 112, 112, 0.51);
    border-radius: $border-radius;
    position: absolute;
    right: 2%;
}

.board-menu-header {
    width: 100%;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    // justify-content: space-between;
}

.board-menu-header h2 {
    // width: 100%;
    flex: 1;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}

.board-menu-header img {
    cursor: pointer;
    width: 15px;
    margin: 10px;
    position: absolute;
    right: 0%;
    top: 0%;

}

.board-menu-header img:hover {
    background-color: rgba(94, 94, 94, 0.144);
}

.border-change-background {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tooltiptext-change-background {
    visibility: hidden;
    width: 300px;
    background-color: rgb(218, 218, 218);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 10;
    top: 95%;
    right: 50%;
}

.input-change-background {
    position: relative;
}

.input-change-background input {
    cursor: pointer;
}

.input-change-background:hover .tooltiptext-change-background {
    visibility: visible;
}

.button-change-background {
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: $border-radius;
    text-align: left;
    font-family: $primary-font-family;
    font-size: $text-font-size;
    background-color: $primary-color-button;
    color: $font-color-button;
    // margin-top: 20px;
    // margin-bottom: 20px;
}

.button-change-background:hover {
    background-color: rgb(40, 40, 143);
}