@import '../my-app/src/common/_styles';

.loading{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.home-title {
    font-family: $primary-font-family;
    font-size: 42px;
    color: $primary-font-color;
    text-align: center;
}

.home-boards-section{
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    width: 1100px;
    // justify-content: flex-start;
    // position: absolute;
    // left: 0;
    // right: 0;
    // margin: 0 auto;
    position: relative;
    left: 15%;
}

.home-boards-section-list {
    // position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1100px;
    justify-content: flex-start;
    
}


.link{
    text-decoration: none;
}

.home-board{
    position: relative;
    list-style-type: none;
}

.board-home-container {
    width: 250px;
    height: 150px;
    border-radius: 15px;
    font-family: $primary-font-family;
    font-size: 30px;
    color: $primary-font-color;
    text-align: center;
    margin-bottom: 35px;
    margin-right: 20px;
    // margin-left: 20px;
    // border: 1px solid rgba(165, 203, 203, 0.7);
    // background-color: rgba(165, 203, 203, 0.5);
    background-color: #D4E2EE;
}

.link:hover .board-home-container-fade {
    // background-color: rgba(120, 182, 182, 0.5);
    background-color: #00000020;
}

.board-home-container-fade{
    width: 250px;
    height: 150px;
    border-radius: 15px;
    background-color: #00000010;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.home-button-delete{
    opacity: 1;
    position: absolute;
    top: 115px;
    right: 30px;
    width: 30px;
    height: 30px;
}

.home-button-delete .tooltiptext{
    visibility: hidden;
    width: 400px;
    background-color: rgb(218, 218, 218);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 120%;
    left: 50%;
}

.home-button-delete:hover .tooltiptext {
    visibility: visible;
}

.home-button-delete:hover {
    cursor: pointer;
}

// .board-home:hover .home-button-delete {
//     opacity: 1;
//     width: 30px;
// }

.home-button-delete img{
    width: 30px;
    height: 30px;
}

.add-home-board{
    list-style-type: none;
}

.add-home-board-button{
    width: 250px;
    height: 150px;
    border: 1px solid rgba(165, 203, 203, 0.7);
    background-color: rgba(188, 191, 206, 0.5);
    border-radius: 15px;
    font-family: $primary-font-family;
    font-size: 30px;
    color: $primary-font-color;
}

.add-home-board-button:hover{
    background-color: rgba(155, 156, 162, 0.5);
    cursor: pointer;
}

//Modal style

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.25);
    animation-name: appear;
    animation-duration: 300ms;
}

.modal-dialog {
    width: 100%;
    height: 170px;
    max-width: 240px;
    background: white;
    position: relative;
    margin: 0 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: slide-in;
    animation-duration: 0.5s;
}

.modal-header {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #dbdbdb;
    justify-content: space-between;
}

.modal-close {
    cursor: pointer;
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}

.modal-body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.modal-input {
    width: 192px;
    margin-bottom: 20px;

}

.modal-button {
    width: 200px;
}

.modal-title {
    margin: 0;
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(-150px);
    }

    to {
        transform: translateY(0);
    }
}