@import '../my-app/src/_styles';

.board-home-title{
    width: 250px;
    height: 150px;
    border-radius: 15px;
    font-family: $primary-font-family;
    font-size: 30px;
    color: $primary-font-color;
    text-align: center;
    margin-bottom: 35px;
    margin-right: 20px;
    border: 1px solid rgba(165, 203, 203, 0.7);
    background-color: rgba(165, 203, 203, 0.5);
}

a .board-home-button-delete{
    pointer-events: none;
}