$primary-color-background: rgb(241, 246, 244);
$primary-color-list: linear-gradient(rgba(160, 160, 203, 0.468), rgba(255, 222, 227, 0.589));
$primary-color-card: rgba(114, 114, 213, 0.134);
$primary-color-button: rgb(75, 75, 148);
$border-radius: 5px;

$primary-font-color:rgb(23, 18, 45);
$font-color-button: aliceblue;
$color-border: rgba(194, 82, 255, 0.5);

$primary-font-family: 'Caveat', cursive;
$text-font-size: 18px;
$title-font-size: 20px;

$color: rgba(255, 176, 176, 0.5);

// font-family: 'Indie Flower', cursive;
// font-family: 'Roboto Condensed', sans-serif;
// font-family: 'Rubik', sans-serif;
// font-family: 'Satisfy', cursive;
// font-family: 'Shadows Into Light', cursive;